@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    /* color: var(--shiki-dark) !important; */
    /* background-color: var(--shiki-dark-bg) !important; */
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

body {
  font-family: 'EB Garamond', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
a {
  @apply text-blue-500 dark:text-blue-300 hover:underline;
}
p {
  @apply text-lg w-full;
}
h1 {
  @apply text-5xl text-center font-semibold;
}
h2 {
  @apply w-full text-3xl font-semibold;
}
h3 {
  @apply w-full text-xl font-semibold;
}
h4 {
  @apply w-full font-semibold;
}
table {
  @apply border-y-2 border-black dark:border-zinc-50;
}
thead {
  @apply border-b border-black dark:border-zinc-50;
}
th,
td {
  @apply px-4;
}
ul {
  @apply prose list-disc list-inside w-full;
}
ol {
  @apply prose list-decimal list-inside w-full;
}
html {
  font-size: 110%;
}

body .custommini {
  font-family: 'EB Garamond', sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  letter-spacing: 0.5px !important;
  color: #777 !important;
  font-style: italic !important;
  margin-top: 0px !important;
  text-align: center;
}