---

---

<figure class="w-full flex flex-col gap-2 items-center">
  <div class="*:max-h-[50rem] *:object-contain flex justify-center w-full">
    <slot name="figure" />
  </div>
  <figcaption style="font-family: 'Souce Sans 3', sans-serif; font-size: 16px; color: #777; font-style: italic; margin-top: 10px; line-height: 1.5;">
    <slot name="caption" />
  </figcaption>
</figure>