---

---

<section
  class="max-w-[60rem] !px-0 py-6 w-full mx-0 flex justify-center bg-zinc-100 dark:bg-zinc-200 rounded-3xl"
>
  <div
    class="flex flex-col gap-4 items-center w-full max-w-[60rem] [&>h2]:mt-0 px-6 leading-loose"
  >
    <slot />
  </div>
</section>
